@import "../../styles/styles.scss";
.movie-details {
  @include display-column;
  padding: 10px;
  &__title {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    &-button-hide {
      margin: 0px 5px;
      padding: 3px;
      cursor: pointer;
      border: 0;
      &:hover {
        background-color: black;
        color: white;
        border: 1px solid white;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: grey;
    color: white;
    width: 100%;
    padding: 10px;
    &-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      &-item {
        width: 480px;
        height: 700px;
      }
    }
    &-description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      text-align: justify;
      a {
        color: black;
      }
      &-item {
        padding: 10px;
        &-countries {
          margin-bottom: 10px;
        }
        &-companies {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          margin-bottom: 10px;
        }
        &-web {
          padding-left: 30px;
        }
        &-array-items {
          padding-left: 30px;
          &-img {
            width: 100px;
            height: 50px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .movie-details {
    &__title{
      justify-content: center;
    }
    &__list {
      @include display-column;
      &-img-item {
        width: 300px;
        height: 300px;
      }
    }
  }
}

@media only screen and (min-width: 1112px) {
  .movie-details__list {
    flex-direction: row;
    width: 100%;
  }
}
