@import "../../styles/styles.scss";

.form {
  @include display-row;
  background-color: black;
  color: white;
  padding: 10px;
  &__input {
    margin: 5px;
    padding: 5px;
  }
  &__error {
    color: red;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    @include display-column;
  }
}
