@import '../../styles/styles.scss';
.fav{
  @include display-column;
  padding: 10px 0px;
  background-color: grey;
  width: 100%;
  &__list{
    @include display-row;
    flex-wrap: wrap;
    &-items{
      @include display-row;
      margin:5px;
      padding: 5px;
      background-color: lightgray;
      box-shadow: 5px 5px 3px black;
      &:hover{
        background-color: white;
      }
      &-item{
        text-align: center;
        color: black;
        &:hover{
          color: brown;
        }
      }
    }
  & a {
    text-decoration: none;
  }
  }
}
