@mixin display-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin display-row {
  display: flex;
  justify-content: center;
  align-items: center;
}