@import "../../styles/styles.scss";

.home {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  &__nav {
    @include display-row;
    width: 100%;
    &-btn {
      padding: 5px;
      margin: 5px;
      font-size: 15px;
      background-color: white;
      cursor: pointer;
      border: 1px solid black;
      &:hover {
        background-color: black;
        color: white;
        border: 1px solid white;
      }
    }
  }
  &__welcome {
    font-family: "Reggae One", cursive;
  }
}
