@import "../../styles/styles.scss";
.all-movies {
  @include display-column;
  background-color: black;
  color: white;
  &__home {
    @include display-row;
    justify-content: flex-end;
    margin: 10px;
    width: 98%;
  }
  &__list {
    @include display-row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
    &-item {
      margin: 0 20px;
      &-fav {
        display: flex;
        justify-content: space-between;
        // align-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 20px;
      }
      &-img {
        cursor: pointer;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
      &-btn-fav {
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 3px;
      }
      &-title {
        margin: 0px;
      }
      &-noimg {
        width: 500px;
        height: 281px;
      }
    }
  }
  &__nav-menu {
    @include display-column;
    padding: 10px 0px;
    background-color: grey;
    width: 100%;
    &-item {
      margin: 0px 5px;
      padding: 3px;
      cursor: pointer;
      border: 0;
      &:hover {
        background-color: black;
        color: white;
      }
      &-title {
        margin: 0;
      }
    }
    &-gotopage-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      &-input {
        text-align: center;
        width: 100px;
      }
    }
  }
}
.user-bottom{
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .all-movies {
    &__home {
      @include display-column;
    }
    &__list {
      @include display-column;
      &-item {
        &-img {
          width: 300px;
        }

        &-noimg {
          width: 300px;
        }
      }
    }
    &__nav-menu {
      &-gotopage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-input {
          text-align: center;
          width: 250px;
          padding: 5px;
          margin: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1112px) {
  .all-movies__nav-menu {
    width: 1020px;
    &-gotopage-container-input {
      width: 600px;
    }
  }
}

@media only screen and (min-width: 1651px) {
  .all-movies__nav-menu {
    width: 1560px;
    &-gotopage-container-input {
      width: 1000px;
    }
  }
}
