.header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  color: black;
  width: 100%;
  &__logo{
    width: 300px;
    height: 200px;
  }
  &__title{
    font-size: 80px;
    font-family: 'Reggae One', cursive;
  }
}


@media only screen and (max-width: 800px) {
  .header__title{
    font-size: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .header{
    flex-direction: column;
  }
}