@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
.main{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}